Uploading the data

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

# Define file path
file_path = "/content/drive/My Drive/Colab Notebooks/ML Project/players_stats_by_season_full_details.csv"

# Load the dataset
df = pd.read_csv(file_path)

# Display the first 5 rows
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,"Mar 6, 1972",7-1,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,"Jan 26, 1977",6-6,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,"Jul 24, 1963",6-9,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,"Jul 23, 1968",6-4,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics

# DATA PREP

# Convert an objects into viable data
(string, int, float....)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53949 entries, 0 to 53948
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53949 non-null  object
 1   Season       53949 non-null  object
 2   Stage        53949 non-null  object
 3   Player       53949 non-null  object
 4   Team         53938 non-null  object
 5   GP           53949 non-null  int64
 6   MIN          53949 non-null  float64
 7   FGM          53949 non-null  int64
 8   FGA          53949 non-null  int64
 9   3PM          53949 non-null  int64
 10  3PA          53949 non-null  int64
 11  FTM          53949 non-null  int64
 12  FTA          53949 non-null  int64
 13  TOV          53949 non-null  int64
 14  PF           53949 non-null  int64
 15  ORB          53949 non-null  int64
 16  DRB          53949 non-null  int64
 17  REB          53949 non-null  int64
 18  AST          53949 non-null  int64
 19  STL          53949 non-null  int64
 20  BLK          53949 non-null  int64
 21  PTS          53949 non-null  int64
 22  birth_year   53631 non-null  float64
 23  birth_month  53631 non-null  object
 24  birth_date   53631 non-null  object
 25  height       53875 non-null  object
 26  height_cm    53875 non-null  float64
 27  weight       49385 non-null  float64
 28  weight_kg    49385 non-null  float64
 29  nationality  53942 non-null  object
 30  high_school  23683 non-null  object
 31  draft_round  10136 non-null  float64
 32  draft_pick   10136 non-null  float64
 33  draft_team   10136 non-null  object
dtypes: float64(7), int64(16), object(11)
memory usage: 14.0+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53949 entries, 0 to 53948
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53949 non-null  object
 1   Season       53949 non-null  object
 2   Stage        53949 non-null  object
 3   Player       53949 non-null  object
 4   Team         53938 non-null  object
 5   GP           53949 non-null  int64
 6   MIN          53949 non-null  float64
 7   FGM          53949 non-null  int64
 8   FGA          53949 non-null  int64
 9   3PM          53949 non-null  int64
 10  3PA          53949 non-null  int64
 11  FTM          53949 non-null  int64
 12  FTA          53949 non-null  int64
 13  TOV          53949 non-null  int64
 14  PF           53949 non-null  int64
 15  ORB          53949 non-null  int64
 16  DRB          53949 non-null  int64
 17  REB          53949 non-null  int64
 18  AST          53949 non-null  int64
 19  STL          53949 non-null  int64
 20  BLK          53949 non-null  int64
 21  PTS          53949 non-null  int64
 22  birth_year   53631 non-null  float64
 23  birth_month  53631 non-null  object
 24  birth_date   53631 non-null  object
 25  height       53875 non-null  object
 26  height_cm    53875 non-null  float64
 27  weight       49385 non-null  float64
 28  weight_kg    49385 non-null  float64
 29  nationality  53942 non-null  object
 30  high_school  23683 non-null  object
 31  draft_round  10136 non-null  float64
 32  draft_pick   10136 non-null  float64
 33  draft_team   10136 non-null  object
dtypes: float64(7), int64(16), object(11)
memory usage: 14.0+ MB

In [ ]:
for i, col in enumerate(df.columns):
    print(i, col)

0 League
1 Season
2 Stage
3 Player
4 Team
5 GP
6 MIN
7 FGM
8 FGA
9 3PM
10 3PA
11 FTM
12 FTA
13 TOV
14 PF
15 ORB
16 DRB
17 REB
18 AST
19 STL
20 BLK
21 PTS
22 birth_year
23 birth_month
24 birth_date
25 height
26 height_cm
27 weight
28 weight_kg
29 nationality
30 high_school
31 draft_round
32 draft_pick
33 draft_team

In [ ]:
(df.isnull().sum() / len(df)) * 100

League          0.000000
Season          0.000000
Stage           0.000000
Player          0.000000
Team            0.020390
GP              0.000000
MIN             0.000000
FGM             0.000000
FGA             0.000000
3PM             0.000000
3PA             0.000000
FTM             0.000000
FTA             0.000000
TOV             0.000000
PF              0.000000
ORB             0.000000
DRB             0.000000
REB             0.000000
AST             0.000000
STL             0.000000
BLK             0.000000
PTS             0.000000
birth_year      0.589446
birth_month     0.589446
birth_date      0.589446
height          0.137167
height_cm       0.137167
weight          8.459842
weight_kg       8.459842
nationality     0.012975
high_school    56.101133
draft_round    81.211885
draft_pick     81.211885
draft_team     81.211885
dtype: float64

In [ ]:
df_null_percentage = (df.isnull().sum() / len(df)) * 100
df_null_percentage[df_null_percentage > 0]

Team            0.020390
birth_year      0.589446
birth_month     0.589446
birth_date      0.589446
height          0.137167
height_cm       0.137167
weight          8.459842
weight_kg       8.459842
nationality     0.012975
high_school    56.101133
draft_round    81.211885
draft_pick     81.211885
draft_team     81.211885
dtype: float64

In [ ]:
df['Player'].value_counts()

Player
Anton Gavel            36
Ricky Paulding         35
Tony Parker            34
Tim Duncan             32
Dirk Nowitzki          32
                       ..
Vadym Prokopenko        1
Alexander Tarasenko     1
Mike Holloway           1
J.D. Miller             1
Andrii Voinalovych      1
Name: count, Length: 14582, dtype: int64

In [ ]:
df['Player'].value_counts()[df['Player'].value_counts() > 1]

Player
Anton Gavel       36
Ricky Paulding    35
Tony Parker       34
Tim Duncan        32
Dirk Nowitzki     32
                  ..
Dae Sung Lee       2
Nedim Yucel        2
Baris Guney        2
Onder Kulcebas     2
Hakan Koseoglu     2
Name: count, Length: 9334, dtype: int64

In [ ]:
import pandas as pd

# Define file path
file_path = "/content/drive/My Drive/Colab Notebooks/ML Project/players_stats_by_season_full_details.csv"

# Load the dataset
df = pd.read_csv(file_path)

# Create NBA_Indication: 1 if League equals 'NBA', otherwise 0
df['NBA_Indication'] = df['League'].apply(lambda x: 1 if x == 'NBA' else 0)

# Create Regular_Season_Indication: 1 if Stage equals 'Regular_Season', otherwise 0
df['Regular_Season_Indication'] = df['Stage'].apply(lambda x: 1 if x == 'Regular_Season' else 0)

# Create International_Indication: 1 if Stage equals 'International', otherwise 0
df['International_Indication'] = df['Stage'].apply(lambda x: 1 if x == 'International' else 0)

# Create Playoffs_Indication: 1 if Stage equals 'Playoffs', otherwise 0
df['Playoffs_Indication'] = df['Stage'].apply(lambda x: 1 if x == 'Playoffs' else 0)

df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team,NBA_Indication,Regular_Season_Indication,International_Indication,Playoffs_Indication
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic,1,1,0,0
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors,1,1,0,0
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz,1,1,0,0
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers,1,1,0,0
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics,1,1,0,0

In [ ]:
# Identify players with inconsistent birth_year data:
# (i.e. some rows have a non-null value and some rows are null)
inconsistent_birth_year = df.groupby('Player')['birth_year'].apply(lambda x: x.notnull().any() and x.isnull().any())

# Print the list of players with inconsistent birth_year values
players_inconsistent = inconsistent_birth_year[inconsistent_birth_year].index.tolist()
print("Players with inconsistent birth_year values:", players_inconsistent)

Players with inconsistent birth_year values: ['Brandon Davis', 'Chris Ware', 'Mads Rasmussen', 'Marcus Lewis', 'Marko Ilic']

In [ ]:
def get_inconsistent_values(series):
    # If a player's birth_year column has at least one non-null and at least one null, return all unique values.
    if series.notnull().any() and series.isnull().any():
        return list(series.unique())
    else:
        return None

# Group by 'Player' and apply the function
inconsistent_birth_year = df.groupby('Player')['birth_year'].apply(get_inconsistent_values)

# Filter out the players without inconsistencies
inconsistent_birth_year = inconsistent_birth_year[inconsistent_birth_year.notnull()]

print("Players with inconsistent birth_year values and their values:")
print(inconsistent_birth_year)

Players with inconsistent birth_year values and their values:
Player
Brandon Davis             [nan, 1988.0]
Chris Ware                [nan, 1989.0]
Mads Rasmussen            [nan, 1988.0]
Marcus Lewis      [1986.0, 1992.0, nan]
Marko Ilic                [1990.0, nan]
Name: birth_year, dtype: object

In [ ]:
def get_inconsistent_values(series):
    # Drop null values and get unique values.
    unique_vals = series.dropna().unique()
    # If there are more than one unique non-null values, return them.
    if len(unique_vals) > 1:
        return list(unique_vals)
    else:
        return None

# Group by 'Player' and apply the function to the 'birth_year' column.
inconsistent_birth_year = df.groupby('Player')['birth_year'].apply(get_inconsistent_values)

# Filter out players that do not have inconsistencies.
inconsistent_birth_year = inconsistent_birth_year[inconsistent_birth_year.notnull()]

print("Players with inconsistent non-null birth_year values:")
print(inconsistent_birth_year)

Players with inconsistent non-null birth_year values:
Player
Aaron Harrison                  [1993.0, 1994.0]
Aaron Mitchell                  [1969.0, 1989.0]
Adrian Moss                     [1988.0, 1981.0]
Aleksandar Radulovic            [1984.0, 1988.0]
Alex Murphy                     [1988.0, 1993.0]
                                  ...
Tomas Pacesas                   [1973.0, 2000.0]
Tomislav Gabric                 [1995.0, 1991.0]
Vladimir Mihailovic             [1990.0, 1982.0]
Wei Liu                 [1980.0, 1985.0, 1989.0]
Willie Green                    [1981.0, 1991.0]
Name: birth_year, Length: 99, dtype: object

In [ ]:
!pip install wikipedia

Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from wikipedia) (4.13.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from wikipedia) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2025.1.31)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->wikipedia) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->wikipedia) (4.12.2)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11679 sha256=f32397bb5f10a2d7f313c8b7625653790e95088ff9fbc1582c699779ee555e74
  Stored in directory: /root/.cache/pip/wheels/8f/ab/cb/45ccc40522d3a1c41e1d2ad53b8f33a62f394011ec38cd71c6
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

def get_inconsistent_values(series):
    unique_vals = series.dropna().unique()
    if len(unique_vals) > 1:
        return list(unique_vals)
    return None

# Group by 'Player' and find inconsistencies
inconsistent_birth_year = df.groupby('Player')['birth_year'].apply(get_inconsistent_values)
inconsistent_birth_year = inconsistent_birth_year[inconsistent_birth_year.notnull()]

# Function to search Wikipedia for birth year
def get_birth_year_from_wikipedia(player_name):
    search_url = f"https://en.wikipedia.org/w/index.php?search={player_name} basketball"
    headers = {"User-Agent": "Mozilla/5.0"}  # To avoid being blocked

    response = requests.get(search_url, headers=headers)
    if response.status_code != 200:
        return None  # Failed to retrieve

    soup = BeautifulSoup(response.text, "html.parser")
    first_link = soup.find("a", href=True, text=player_name)  # Find exact match

    if first_link:
        page_url = f"https://en.wikipedia.org{first_link['href']}"
        response = requests.get(page_url, headers=headers)
        if response.status_code == 200:
            page_soup = BeautifulSoup(response.text, "html.parser")
            birth_year = extract_birth_year(page_soup)
            return birth_year
    return None  # No relevant page found

def extract_birth_year(soup):
    birth_info = soup.find("span", class_="bday")
    if birth_info:
        return int(birth_info.text[:4])  # Extract year only
    return None

# Add new columns
df["final_birth_year"] = df["birth_year"]
df["birth_year_source"] = "original"

# Update inconsistent players
for player in inconsistent_birth_year.index:
    wiki_birth_year = get_birth_year_from_wikipedia(player)

    if wiki_birth_year:
        df.loc[df["Player"] == player, "final_birth_year"] = wiki_birth_year
        df.loc[df["Player"] == player, "birth_year_source"] = "wikipedia"
    else:
        df.loc[df["Player"] == player, "final_birth_year"] = None
        df.loc[df["Player"] == player, "birth_year_source"] = "unknown"

print("Process completed! Updated birth years in final_birth_year column.")

Process completed! Updated birth years in final_birth_year column.

In [ ]:
df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,high_school,draft_round,draft_pick,draft_team,NBA_Indication,Regular_Season_Indication,International_Indication,Playoffs_Indication,final_birth_year,birth_year_source
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,Robert G. Cole High School,1.0,1.0,Orlando Magic,1,1,0,0,1972.0,original
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,Mainland High School,1.0,5.0,Golden State Warriors,1,1,0,0,1977.0,original
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,Summerfield High School,1.0,13.0,Utah Jazz,1,1,0,0,1963.0,original
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,Bethel High School,1.0,1.0,Philadelphia Sixers,1,1,0,0,1975.0,original
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,Skyline High School,1.0,2.0,Seattle SuperSonics,1,1,0,0,1968.0,original

Handling Inconsistent Height and Weight Data
We identified players with inconsistent height and weight values, selected the most common value for each, and marked whether the value was original or adjusted

In [ ]:
from collections import Counter

def get_most_common_value(series):
    counter = Counter(series.dropna())
    if counter:
        return counter.most_common(1)[0][0]  # The most frequently occurring value
    return None

# Update height and weight with the most common value for each player
df["final_height_cm"] = df.groupby("Player")["height_cm"].transform(get_most_common_value)
df["final_weight_kg"] = df.groupby("Player")["weight_kg"].transform(get_most_common_value)

# Source column: "original" if consistent, "fixed" if adjusted
df["height_source"] = df.apply(lambda row: "original" if row["height_cm"] == row["final_height_cm"] else "fixed", axis=1)
df["weight_source"] = df.apply(lambda row: "original" if row["weight_kg"] == row["final_weight_kg"] else "fixed", axis=1)

print("✅ Inconsistencies resolved! Values have been replaced with the most common ones.")

✅ Inconsistencies resolved! Values have been replaced with the most common ones.

In [ ]:
df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,NBA_Indication,Regular_Season_Indication,International_Indication,Playoffs_Indication,final_birth_year,birth_year_source,final_height_cm,final_weight_kg,height_source,weight_source
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,1,1,0,0,1972.0,original,216.0,147.0,original,original
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,1,1,0,0,1977.0,original,198.0,100.0,original,original
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,1,1,0,0,1963.0,original,206.0,120.0,original,original
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,1,1,0,0,1975.0,original,183.0,75.0,original,original
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,1,1,0,0,1968.0,original,193.0,82.0,original,original

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53949 entries, 0 to 53948
Data columns (total 44 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   League                     53949 non-null  object
 1   Season                     53949 non-null  object
 2   Stage                      53949 non-null  object
 3   Player                     53949 non-null  object
 4   Team                       53938 non-null  object
 5   GP                         53949 non-null  int64
 6   MIN                        53949 non-null  float64
 7   FGM                        53949 non-null  int64
 8   FGA                        53949 non-null  int64
 9   3PM                        53949 non-null  int64
 10  3PA                        53949 non-null  int64
 11  FTM                        53949 non-null  int64
 12  FTA                        53949 non-null  int64
 13  TOV                        53949 non-null  int64
 14  PF                         53949 non-null  int64
 15  ORB                        53949 non-null  int64
 16  DRB                        53949 non-null  int64
 17  REB                        53949 non-null  int64
 18  AST                        53949 non-null  int64
 19  STL                        53949 non-null  int64
 20  BLK                        53949 non-null  int64
 21  PTS                        53949 non-null  int64
 22  birth_year                 53631 non-null  float64
 23  birth_month                53631 non-null  object
 24  birth_date                 53631 non-null  object
 25  height                     53875 non-null  object
 26  height_cm                  53875 non-null  float64
 27  weight                     49385 non-null  float64
 28  weight_kg                  49385 non-null  float64
 29  nationality                53942 non-null  object
 30  high_school                23683 non-null  object
 31  draft_round                10136 non-null  float64
 32  draft_pick                 10136 non-null  float64
 33  draft_team                 10136 non-null  object
 34  NBA_Indication             53949 non-null  int64
 35  Regular_Season_Indication  53949 non-null  int64
 36  International_Indication   53949 non-null  int64
 37  Playoffs_Indication        53949 non-null  int64
 38  final_birth_year           52875 non-null  float64
 39  birth_year_source          53949 non-null  object
 40  final_height_cm            53875 non-null  float64
 41  final_weight_kg            49434 non-null  float64
 42  height_source              53949 non-null  object
 43  weight_source              53949 non-null  object
dtypes: float64(10), int64(20), object(14)
memory usage: 18.1+ MB

In [ ]:
import pickle

# Define aggregation rules
aggregation_rules = {
    "GP": "sum",
    "MIN": "sum",
    "FGM": "sum",
    "FGA": "sum",
    "3PM": "sum",
    "3PA": "sum",
    "FTM": "sum",
    "FTA": "sum",
    "TOV": "sum",
    "PF": "sum",
    "ORB": "sum",
    "DRB": "sum",
    "REB": "sum",
    "AST": "sum",
    "STL": "sum",
    "BLK": "sum",
    "PTS": "sum",
    "NBA_Indication": "max",
    "Regular_Season_Indication": "max",
    "International_Indication": "max",
    "Playoffs_Indication": "max",
    "final_birth_year": "first",
    "birth_year_source": "first",
    "final_height_cm": "first",
    "final_weight_kg": "first",
    "height_source": "first",
    "weight_source": "first"
}

# Perform aggregation
df_aggregated = df.groupby("Player").agg(aggregation_rules).reset_index()

# Convert categorical columns to dummy variables
df_aggregated = pd.get_dummies(df_aggregated, columns=["height_source", "birth_year_source", "weight_source"], dtype=int)

# Define output file paths
output_csv = "/content/drive/My Drive/Colab Notebooks/ML Project/NBA_cleaned.csv"
output_pkl = "/content/drive/My Drive/Colab Notebooks/ML Project/NBA_cleaned.pkl"

# Save the processed data
df_aggregated.to_csv(output_csv, index=False)
df_aggregated.to_pickle(output_pkl)

# Print confirmation and final shape
print(f"✅ Data saved successfully: {output_csv} and {output_pkl}")
print("📊 Final dataset shape:", df_aggregated.shape)

✅ Data saved successfully: /content/drive/My Drive/Colab Notebooks/ML Project/NBA_cleaned.csv and /content/drive/My Drive/Colab Notebooks/ML Project/NBA_cleaned.pkl
📊 Final dataset shape: (14582, 31)

In [ ]:
import pandas as pd

# Define the file path
output_pkl = "/content/drive/My Drive/Colab Notebooks/ML Project/NBA_cleaned.pkl"

# Load the pickle file
df_loaded = pd.read_pickle(output_pkl)

# Display the first few rows
print(df_loaded.head())

            Player   GP     MIN  FGM  FGA  3PM  3PA  FTM  FTA  TOV  ...  \
0  . Rufukatijiang   20   249.0   56   96    0    0   19   27   21  ...
1  A'uston Calhoun   50  1360.0  246  558   46  141   96  128   94  ...
2       A.C. Green  187  3769.0  354  801    1   10  161  229  107  ...
3    A.D. Vassallo   68  1952.5  394  870  175  434  209  249  150  ...
4    A.J. Bramlett   98  2842.7  468  884    0    6  176  366  182  ...

   Playoffs_Indication  final_birth_year  final_height_cm  final_weight_kg  \
0                    0            1998.0              NaN              NaN
1                    0            1990.0            201.0            106.0
2                    1            1963.0            206.0            100.0
3                    0            1986.0            198.0             98.0
4                    0            1977.0            208.0            103.0

   height_source_fixed  height_source_original  birth_year_source_original  \
0                    1                       0                           1
1                    0                       1                           1
2                    0                       1                           1
3                    0                       1                           1
4                    0                       1                           1

   birth_year_source_unknown  weight_source_fixed  weight_source_original
0                          0                    1                       0
1                          0                    0                       1
2                          0                    0                       1
3                          0                    0                       1
4                          0                    0                       1

[5 rows x 31 columns]

In [ ]:
# Count occurrences of each player
player_counts = df_loaded["Player"].value_counts()

# Check if any player appears more than once
if (player_counts > 1).any():
    print("⚠️ There are players that appear more than once!")
    print(player_counts[player_counts > 1])  # Print only duplicated players
else:
    print("✅ Each player appears exactly once!")

✅ Each player appears exactly once!

# We got A flat file, Next to EDA